body {
	margin: 0;
	background-color: #890c18;
}
h1 {
	font-family: 'Ubuntu', Helvetica, sans-serif; /**/
	font-weight: 600;
	font-style: normal;
	font-size: 44px;
	color: #333;
	margin: 0px;
	line-height: 100px;
}
p {
	font-family: 'Ubuntu', Helvetica, sans-serif; /**/
	font-weight: 400;
	font-style: italic;
	font-size: 18px;
	width: 880px;
	line-height: 40px;
	color: #333;
	margin: 0px;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
li {
    display: inline;
	float: left;
}
.menuItem {
	display: block;
    width: 180px;
	height: 50px;
	font-family: Corbel;
	font-size: 24px;
	color: #CCCCCC;
	text-decoration: none;
	text-align: center;
	line-height: 48px;
	transition: color 0.5s ease;
	cursor: pointer;
}
.menuOptionHighlighted {
	color: #6D6D6D;
}
.spacer {
	height: 230px;
}
.slide {
	height: 730px;
}
.textBox {
	width: 760px;
	height: 400px;
	position: relative;
	left: 100px;
}
.textBox p {
	width: 760px;
	height: 400px;
	text-align: justify;
}
.slideImage {
	width: 515px;
	height: 135px;
	position: relative;
	left: 445px;
}
.slideImageCover {
	width: 515px;
	height: 135px;
	position: relative;
	left: 445px;
	top: -139px;
}
#headerBack {
	width: 100%;
	background-color: #9c1421;
	border-bottom: 1px solid black;
}
#header {
	height: 50px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#logo {
	display: inline;
	height: 50px;
	width: 142px;
	float: left;
}
#menuContainer {
	display: inline;
	width: 500px;
}
#background {
	width: auto;
	height: auto;
	background-image: url("metalSlob.png");
	background-position: 50% 0%;
}
#content {
	width: 960px;
	height: auto;
	margin-left: auto;
	margin-right: auto;
}
#footerBack {
	width: 100%;
	background-color: #890c18;
	border-top: 1px solid black;
}
#footer {
	height: 50px;
	width: 960px;
	margin-left: auto;
	margin-right: auto;
}
#disclaimer {
	color: #DB680F;
	float: left;
	font-size: 16px;
	font-family: Corbel;
	line-height: 0px;
	position: relative;
	top: 32px;
}

/**From this point forward, copy/paste from old CSS file.**/

.language-menu {
	position: relative;
	display: inline;
	float: right;
	width: 80px;
	height: 50px;
}
.language-text {
	font-size: 16px;
	font-family: Corbel;
	color: #CCCCCC;
	display: block;
	position: relative;
	top: 5px;
	display: inline;
}
.flags-container {
	position: relative;
}
.flag {
	position: relative;
	top: 5px;
	left: 10px;
}

#social {
	float: right;
}
#social img {
	height: 32px;
	width: 32px;
	position: relative;
	top: 9px;
	left: -12px;
}
#social2 {
	display: inline;
}
#social2 img {
	height: 32px;
	width: 40px;
	position: relative;
	top: 9px;
	left: 0px;
}